.home-container {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.user-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card h2 {
  margin-top: 0;
}

.user-card p {
  margin-bottom: 0;
}
